<%= render 'shared/user', user: @user %>
<% @posts.each do |post| %>
   <%= render "shared/post", post: post %>
   <% if post.recent_comments.any? %>
      <div class="user-comments">
        <% post.recent_comments.each do |comment| %>
          <div>
            <p><strong><%= comment.author.name %>:</strong> Comment:<%= comment.text %></p>
          </div>
        <% end %>
      </div>
    <% end %>
<% end %>
<div class="see-posts-btn ">
  <%= link_to "Pagination", "#", class: "btn btn-primary" %>
</div>