<div class="post-details">
  <%= render "shared/post", post: @post %>

  <% if can? :destroy, @post %>
    <%= link_to "Delete Post", user_post_path(@user, @post), method: :delete, data: { "turbo-method": :delete }, class: "btn btn-danger" %>
  <% end %>
</div>

<div class="comments-section">
  <h2 class="m-3">Comments</h2>
  <div class="user-comments">
    <% @comments.each do |comment| %>
      <p><strong><%= comment.author.name %>:</strong> Comment:<%= comment.text %></p>
       <% if can? :destroy, Comment %>
      <%= link_to "Delete Comment", user_post_comment_path(@user, @post, comment), data: { "turbo-method": :delete }, method: :delete, class: 'btn btn-danger' %>
    <% end %>
    <% end %>
  </div>
</div>

<div class="interactions">
  <%= link_to "Add Comment", new_user_post_comment_path(@user, @post), class: "btn btn-primary m-3" %>
  <%= link_to "Like",  user_post_likes_path(@user, @post), method: :get, class: "btn btn-primary" %>
</div>
